{% extends 'mainsite/base.html' %}
{% block content %}
  <div class="row mt-4">
    <div class="col">
      <h1 class="headerBack text-center text-muted">Contact</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mt-5 ml-5">
      <form class="form-group bg-light" action="index.html" method="post">
        <input class="form-control form-control-lg" type="text" placeholder="Email">
        <textarea class="form-control mt-2" rows="10" cols="150"></textarea>
      </form>
    </div>
    <div class="6">
      <p></p>
    </div>
  </div>
{% endblock content %}
